aside {
  display: block;
  font-size: 14px;
  margin: 16px 0;
  padding: 12px 24px 12px 60px;
  background-color: #e1f5fe;
  color: #0288d1;
}

.notice::before {
  color: #039be5;
  content: '\2605';
  float: left;
  font: normal normal normal 24px/1 'Material Icons';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  word-wrap: normal;
  margin-left: -36px;
}
