---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
  <div id="disqus_thread"></div>
  {% include disqus.html %}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:10 %}
    {% if post.published %}
    {{ page.keyword }}
    {% for keyword in page.keywords %}
      {% for keyword2 in post.keywords %}
        {% if keyword == keyword2 %}
        <li>
          <h3>
            <a href="{{ post.url }}">
              {{ post.title }}
              <small>{{ post.date | date_to_string }}</small>
            </a>
          </h3>
        </li>
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% endif %}
    {% endfor %}
  </ul>
</div>
